.root-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0px 10px;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.draw-section{
    background-color: #fd9c0b3d;
    margin: 0px 10px;
    border-radius: 10px;
}
.green-button{
    background-color: rgb(125, 209, 0);
    border: 2px solid rgb(125, 209, 0);
    margin: 10px;
}
.green-button:hover{
    color:  rgb(125, 209, 0);
    border: 2px solid rgb(125, 209, 0);
}
.red-button{
    background-color: red;
    border: 2px solid red;
    margin: 10px;
}
.red-button:hover{
    color: red;
    border: 2px solid red;
}
